@model Project_shst.Models.Facture3
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>This is for Shipingcart</h2>
<form method="post">

  
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">

                <h5 class="card-title">Ship_Body</h5>
                <div>
                    <a asp-action="Index" class="btn btn-info">BacktoCart</a>
                </div>
                <div class="form-group">
                    <label asp-for="ShipBody.FirstName" class="control-label"></label>
                    <input asp-for="ShipBody.FirstName" class="form-control" />
                    <span asp-validation-for="ShipBody.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipBody.LastName" class="control-label"></label>
                    <input asp-for="ShipBody.LastName" class="form-control" />
                    <span asp-validation-for="ShipBody.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipBody.Email" class="control-label"></label>
                    <input asp-for="ShipBody.Email" class="form-control" />
                    <span asp-validation-for="ShipBody.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipBody.PhoneNumber" class="control-label"></label>
                    <input asp-for="ShipBody.PhoneNumber" class="form-control" />
                    <span asp-validation-for="ShipBody.PhoneNumber" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ship_Head</h5>
                    @foreach (var item in Model.LstCart)
                    {
                            <div class="form-group">
                                <li class="list-group-item">Product: @item.ELProducts.Goods</li>
                                <li class="list-group-item"> Price:@item.Price</li>
                                <li class="list-group-item"> Quntity:@item.Count</li>

                            </div>
                            <span class="text-info">Total price for this item @((item.Price * item.Count))</span>


                    }

                    <div class="form-group">
                        <strong class="text-info">Ground Total: @Model.GroundTotal</strong>
                    </div>
                    <div class="form-group">
                        <strong class="text-info">Total Item: @Model.GroundCount</strong>
                    </div>


                </div>
                <div>
                    <a asp-action="Index" class="btn btn-danger">Order to Ship</a>
                </div>
                <div>
                    <a class="nav-link text-info @*btn btn-info*@" asp-controller="Cart3" asp-action="Pay"> Payment</a>
                </div>
                <div>
                    <p style="color:blue; font-size:14px">Estimate araival is:

                        @DateTime.Now.AddDays(7).ToShortDateString()- @DateTime.Now.AddDays(14).ToShortDateString()
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>

